-f https://download.pytorch.org/whl/cpu/torch_stable.html
-f https://data.pyg.org/whl/torch-1.12.1+cpu.html
-f https://pytorch-geometric.com/whl/torch-1.12.1+cpu.html
torch==1.12.1
torch-sparse==0.6.16
torch-scatter==2.1.0
torch_geometric==2.2.0
pyvis==0.3.2


altair==4.2.2
matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
seaborn==0.12.2
altair==4.2.2
sklearn
ipykernel
vega_datasets
geopy
torchvision
